<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>
        {% block title %}{% endblock %}
    </title>
</head>

<body>
    <nav>
        <h1>
            ZenChair
        </h1>
        <ul>
            <li>
                <a href="{{ url_for('main_blueprint.index') }}">Home</a>
            </li>
            {% if session['logged_in'] == True: %}
            <li>
                <span>{{ session['username'] }}</span>
            </li>

            {% if session['2fa']: %}
            <li>
                <a href="{{ url_for('auth_blueprint.register_2fa') }}">Check 2FA</a>
            </li>
            {% endif %}
            <li>
                <a href="{{ url_for('auth_blueprint.change_password') }}">Change Password</a>
            </li>
            <li>
                <form action="{{ url_for('auth_blueprint.logout') }}" method="POST">
                    <button type="submit" name="logout">Logout</button>
                </form>

            </li>
            {% else %}
            <li>
                <a href="{{ url_for('auth_blueprint.register') }}">Register</a>
            </li>
            <li>
                <a href="{{ url_for('auth_blueprint.login') }}">Log In</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
</body>

</html>