{% extends 'application.html' %}

{% block title %}Change Password
{% endblock %}
{% block header %}Change Password
{% endblock %}

{% block content %}
<h1>Change Password</h1>
{% from "auth/_formhelper.html" import render_field %}
<form method="POST">
    <dl>
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.otp) }}
        {{ render_field(form.new_password) }}
        {{ render_field(form.new_password_confirm) }}
    </dl>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <p>
        <input type="submit" value="Login" />
    </p>
</form>
{% endblock %}