{% extends 'application.html' %}

{% block title %}Login
{% endblock %}
{% block header %}Login
{% endblock %}

{% block content %}
    {% from "auth/_formhelper.html" import render_field %}
    <form method="POST">
        <dl>
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.otp) }}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <p>
                <input class="button" type="submit" value="Login"/>
            </p>
        </dl>

    </form>
{% endblock %}
