{% extends 'application.html' %}

{% block title %}Register
{% endblock %}
{% block header %}Register
{% endblock %}

{% block content %}
    {% from "auth/_formhelper.html" import render_field %}
    <form method="POST">
        <dl>
            {{ render_field(form.username) }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.password_confirm) }}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <p>
                <input class="button" type="submit" value="Register"/>
            </p>
        </dl>
    </form>

{% endblock %}
